.main_content {
  position: relative;
}

.profile_main {
  margin: 7px;
  margin-top: 20px;
}

.profile_name {
  text-align: start;
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
}

.msg {
  text-align: center;
  background: #cef2da;
  padding: 4px;
  font-weight: bold;
  color: #0c611a;
  font-size: 18px;
  width: 350px;
  border-radius: 2px;
}
.view_btn {
  text-align: end;
}
.view_btn button {
  background: #232e3e;
  border-radius: 4px;
  width: 152px;
}
